<mat-card class="forgot-password-card">
  <mat-toolbar color="primary" class="forgot-password-toolbar">Forgot Password</mat-toolbar>

  <form (ngSubmit)="onReset()" [formGroup]="forgotPasswordForm" class="forgot-password-form">
    <mat-form-field appearance="outline" class="forgot-password-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required type="email" />
    </mat-form-field>

    <button mat-button color="primary" type="submit" class="forgot-password-btn" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
  </form>

  <div class="extra-links">
    <a routerLink="/login" class="link">Back to Login</a>
  </div>
</mat-card>
