<mat-card class="reset-password-card">
  <mat-toolbar color="primary" class="reset-password-toolbar">Reset Password</mat-toolbar>
  <form 
    (ngSubmit)="onReset()" 
    [formGroup]="resetPasswordForm" 
    class="reset-password-form"
  >
    <mat-form-field appearance="outline" class="reset-password-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required type="password" />
      <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">
        Password must be at least 8 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="forgot-password-field">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" required type="password" />
      <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
        Confirm Password is required.
      </mat-error>
      <mat-error *ngIf="resetPasswordForm.hasError('passwordMismatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <button 
      mat-button 
      color="primary" 
      type="submit" 
      class="forgot-password-btn" 
      [disabled]="resetPasswordForm.invalid"
    >
      Reset Password
    </button>
  </form>
</mat-card>
