<mat-card class="signup-card">
  <mat-toolbar color="primary" class="signup-toolbar">Sign Up</mat-toolbar>

  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="signup-form">
    <!-- Name Field -->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="signupForm.get('name')?.hasError('required')">Name is required</mat-error>
      <mat-error *ngIf="signupForm.get('name')?.hasError('minlength')">Name must be at least 3 characters long</mat-error>
    </mat-form-field>

    <!-- Username Field -->
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
      <mat-error *ngIf="signupForm.get('username')?.hasError('required')">Username is required</mat-error>
      <mat-error *ngIf="signupForm.get('username')?.hasError('minlength')">Username must be at least 3 characters long</mat-error>
    </mat-form-field>

    <!-- Mobile Number Field -->
    <mat-form-field appearance="fill">
      <mat-label>Mobile Number</mat-label>
      <input matInput formControlName="mobile_number" required />
      <mat-error *ngIf="signupForm.get('mobile_number')?.hasError('required')">Mobile number is required</mat-error>
      <mat-error *ngIf="signupForm.get('mobile_number')?.hasError('pattern')">Enter a valid 11-digit number</mat-error>
    </mat-form-field>

    <!-- Email Field -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required type="email" />
      <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Enter a valid email address</mat-error>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required type="password" />
      <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long</mat-error>
    </mat-form-field>

    <!-- Confirm Password Field -->
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" required type="password" />
      <mat-error *ngIf="signupForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
      <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
    </mat-form-field>

    <button mat-button  color="primary" type="submit" [disabled]="signupForm.invalid">Signup</button>

    <div class="extra-links">
      <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active"  class="link">Already have an account? Login</a>
    </div>
  
  </form>
</mat-card>
